
services:
  postgres:
    image: postgres:16
    container_name: postgres_outbox
    restart: unless-stopped
    environment:
      POSTGRES_DB: orders
      POSTGRES_USER: orders
      POSTGRES_PASSWORD: orders
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

   app:
     build:
       context: .
       dockerfile: Dockerfile
     container_name: orders_outbox_api
     restart: unless-stopped
     depends_on:
       - postgres
     environment:
       PORT: 3000
       DB_HOST: postgres
       DB_PORT: 5432
       DB_NAME: orders
       DB_USER: orders
       DB_PASSWORD: orders
     ports:
       - "3000:3000"

volumes:
  pgdata:
